body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

h1{
    font-size: 2em;
    color:red
}

h2{
    color:red
}

.topico{ 
    text-align: right;
}